        #borde {
            border: 3px solid #000;
            max-width: 400px !important;
            padding: 2%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            background-color: slategray;
        }
        
        #teclas {
            padding-top: 2px;
            border-top: 2px solid #000;
        }
        
        input[type="button"]:hover {
            background-color: rgb(170, 200, 230);
            cursor: pointer;
        }
        
        input[type="button"].arit {
            border: 2px solid #000;
            background-color: rgb(7, 21, 207);
            color: white;
        }
        
        #ig {
            background-color: #36b816;
            border: 2px solid #000;
            font-size: 18px;
            font-weight: lighter;
            font-family: Arial, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
            width: 125px;
            height: 60px;
            color: white;
            margin-bottom: 5px;
        }
        
        #cero {
            background-color: white;
            border: 2px solid #000;
            font-size: 18px;
            font-weight: lighter;
            font-family: Arial, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
            width: 125px;
            height: 60px;
            color: rgb(0, 0, 0);
            margin-bottom: 5px;
        }
        
        #cero:hover {
            background-color: rgb(170, 200, 230);
            cursor: pointer;
        }
        
        #punto {
            font-size: 18px;
            font-weight: lighter;
            font-family: Arial, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
            width: 60px;
            border: 2px solid #000;
            height: 60px;
            color: white;
            background-color: #000;
            margin-bottom: 5px;
        }
        
        input[type="button"].limpiar {
            background-color: rgb(243, 19, 19);
            border: 2px solid #000;
            color: white;
        }
        
        form {
            background-color: rgb(173, 172, 172);
            text-align: center;
            border: 2px solid #000;
        }
        
        input[type="text"] {
            background-color: black;
            border: 0px;
            width: 300px;
            height: 40px;
            font-size: 20px;
            color: white;
            text-align: right;
            pointer-events: none;
        }
        
        input[name="txtcaja1"] {
            height: 20px;
            font-size: 18px;
            padding-right: 2%;
        }
        
        input[name="txtcaja2"] {
            margin-bottom: 10px;
            font-size: 26px;
            padding-right: 2%;
        }
        
        input[type="button"] {
            font-size: 18px;
            font-weight: lighter;
            font-family: Arial, "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
            width: 60px;
            border: 2px solid #000;
            height: 60px;
            color: rgb(0, 0, 0);
            background-color: white;
            margin-bottom: 5px;
        }
        
        body {
            background-color: white;
        }