.container {
    position: relative;
}

.inpBox {
    background-color: #FFFFFF;
    border: solid 1px #666666;
    ;
}

.inpBoxError {
    border: solid 2px #FF0000;
    ;
}

#sexo {
    margin-top: 50px;
}

#numerosa {
    margin-top: 15px;
}

#botones {
    margin-top: 10px;
}

#hombre {
    margin-left: 10px;
}

#mujer {
    margin-left: 10px;
}